.card-body{
    background-image: url("https://mdbcdn.b-cdn.net/img/new/slides/017.webp");
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
   
    align-items: center;
    border: none;
    

}


.btn-1{
    display: flex;
    justify-content: space-evenly;
    margin-right : 50px;
    background-color: #10006d; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    
    
}

.text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    color : white;

}
.btn-2{
    display: flex;
    justify-content: flex-end;
    margin : 50px;
    background-color: #10006d; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    
    
}